<div class="row center-block">
  <%= render 'panel', script: @top %>
</div>
<% @scripts.each do |script| %>
  <div class="row center-block">
    <%= render 'panel', script: script %>
  </div>
<% end %>
